:root {
    --bg: rgb(58, 58, 58);
    --orange: rgb(222, 95, 40);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-margin: 60px;
}

body {
    background-color:rgb(58, 58, 58);
}

nav {
    position:fixed;
    height: 40px;
    width: 100%;
    background-color: rgb(58, 58, 58);
    box-shadow: 0 0 25px 0 black;
    font-size: 1.9em;
    color: white;
    z-index: 9999;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: var(--orange);
}

nav a:active {
    color:black ;
}

main {
    display:block;
}

section {
    display:flex;
    margin: 40px 0 150px;
}

h2 {
    width: 5000px;
    text-align: right;
}

aside {
    width: 15%;
    height: 200px;
    display: flex;
    font-weight:bold;
    color: var(--orange);
    justify-content: right;
    padding-right: 1.25rem;
}

figure {
    height: 32rem;
}

figcaption {
    color: var(--orange);
}

article {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.navText {
    padding: 2px 0 0 0;
    list-style: none;
    justify-content: center;
    display: flex;
    column-gap: 30px;
    font-weight: 700;
}

.header { 
    position: relative;
    text-align: center;
}

.banner {
    width: 100%;
    height: 250px;
    object-fit: cover;
    padding: 28px 0 0 0px;
    z-index: 9900
}

/* Code referenced from https://www.w3schools.com/howto/howto_css_image_text.asp in order to center text over the image */
.bannerText {
    color:rgb(255, 255, 255);
    font-size: 3.3em;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
}

.profileImage {
    height: 12rem;
    width: 12rem;
    margin-right: 2rem;
    border: 1px solid var(--orange)
}

/* Aside element classes */
.about {
    border-right: 3px solid var(--orange);
}

.work {
    height: 98rem;
    border-right: 3px solid var(--orange);
}

.contact {
    height: 3rem;
    border-right: 3px solid var(--orange);
}

.aboutText {
    color: white;
    font-size: 1.4rem;
    display: flex;
}

.workBox {
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.workBox p {
    width: 32rem;
    color:white;
}

.workImage {
    height: 18rem;
    width: 32rem;
}

.githubLink {
    color: var(--orange);
    text-decoration: none;
}

.githubLink:hover {
    color: gray;
}

.githubLink:active {
    color: black;
}

.contactArticle {
    width: 100%;
}

.contactLinks {
    color: white;
    font-size: 2.5rem;
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contactLink {
    text-decoration: none;
    color: white;
    margin: 0 0.3rem;
}

.contactLink:hover {
    color: var(--orange)
}

.contactLink:active {
    color: black;
}

/* Media queries for accessibility across screen sizes and resolutions */
@media screen and (max-width: 768px) {
    * {
        scroll-margin: 90px;
    }

    nav {
        height: 80px;
    }

    header,
    main,
    .bannerText {
        padding: 50px 0 0 0;
    }

    aside {
        font-size: 0.85rem;
        width: 20%;
    }

    figure {
        height: 12rem;
    }

    .navText {
        text-align: center;
        font-size: 0.7em;
        flex-direction: column;
    }

    .aboutText {
        font-size: 1rem;
        display: block;
    }

    .about {
        height: 24rem;
    }

    .work {
        height: 37rem;
    }

    .contact {
        height: 9rem; 
    }

    .workBox p {
        width: 12rem;
        font-size: 0.6rem;
    }

    .workImage {
        height: 6.75rem;
        width: 12rem;
    }
}

@media screen and (max-width: 576px) {
    figure {
        height: 16rem;
    }

    .aboutText {
        font-size: 0.9rem;
    }

    .work {
        height: 98rem;
    }

    .workBox p {
        width: 16rem;
    }

    .workImage {
        height: 9rem;
        width: 16rem;
    }
}
