:root {
    --bg: rgb(58, 58, 58);
    --orange: rgb(222, 95, 40);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(58, 58, 58);
}

nav {
    position:fixed;
    height: 40px;
    width: 100%;
    background-color: rgb(58, 58, 58);
    box-shadow: 0 0 25px 0 black;
    font-size: 1.9em;
    color: white;
    z-index: 9999;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: var(--orange);
}

nav a:active {
    color:black ;
}

main {
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

aside {
    flex: 1;
    font-weight:bold;
    color: var(--orange);
    padding: 100px 100px 0 50px;
}

figcaption {
    color: var(--orange);
}

.navText {
    padding: 2px 0 0 0;
    list-style: none;
    justify-content: center;
    display: flex;
    column-gap: 30px;
}

.header { 
    position: relative;
    text-align: center;
}

.banner {
    width: 100%;
    height: 250px;
    object-fit: cover;
    padding: 28px 0 0 0px;
    z-index: 9900
}

/* Code referenced from https://www.w3schools.com/howto/howto_css_image_text.asp in order to center text over the image */
.bannerText {
    color:rgb(255, 255, 255);
    font-size: 3.3em;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.workImage {
    height: 18%;
    width: 32%;
}

/* Media queries for accessibility across screen sizes and resolutions */
@media screen and (max-width: 452px) {
    nav {
        height: 80px;
    }
    .navText {
        text-align: center;
        font-size: 0.7em;
        flex-direction: column;
    }
    header,
    main,
    .bannerText {
        padding: 50px 0 0 0;
    }
    aside {
        padding: 5% 100px 0 5%;
    }
}